<div>
    <h2 id="page-heading">
        <span jhiTranslate="jenovDemoApp.stockVaccin.home.title">Stock Vaccins</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stock-vaccin" [routerLink]="['/stock-vaccin/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jenovDemoApp.stockVaccin.home.createLabel">
            Create a new Stock Vaccin
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="stockVaccins?.length === 0">
        <span jhiTranslate="jenovDemoApp.stockVaccin.home.notFound">No stockVaccins found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="stockVaccins && stockVaccins.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jenovDemoApp.stockVaccin.stockInitial">Stock Initial</span></th>
                    <th scope="col" ><span jhiTranslate="jenovDemoApp.stockVaccin.stockActuel">Stock Actuel</span></th>
                    <th scope="col" ><span jhiTranslate="jenovDemoApp.stockVaccin.centre">Centre</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stockVaccin of stockVaccins ;trackBy: trackId">
                    <td><a [routerLink]="['/stock-vaccin', stockVaccin.id, 'view']">{{ stockVaccin.id }}</a></td>
                    <td>{{ stockVaccin.stockInitial }}</td>
                    <td>{{ stockVaccin.stockActuel }}</td>
                    <td>
                        <div *ngIf="stockVaccin.centre">
                            <a [routerLink]="['/centre', stockVaccin.centre?.id, 'view']" >{{ stockVaccin.centre?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/stock-vaccin', stockVaccin.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/stock-vaccin', stockVaccin.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(stockVaccin)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
