<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="personne">
            <h2><span jhiTranslate="jenovDemoApp.personne.detail.title">Personne</span> {{ personne.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jenovDemoApp.personne.name">Name</span></dt>
                <dd>
                    <span>{{ personne.name }}</span>
                </dd>
                <dt><span jhiTranslate="jenovDemoApp.personne.noAvs">No Avs</span></dt>
                <dd>
                    <span>{{ personne.noAvs }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/personne', personne.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
