<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-patient-heading" jhiTranslate="jenovDemoApp.patient.home.createOrEditLabel">Create or edit a Patient</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovDemoApp.patient.noAvs" for="field_noAvs">No Avs</label>
                    <input type="text" class="form-control" name="noAvs" id="field_noAvs"
                           formControlName="noAvs"/>
                    <div *ngIf="editForm.get('noAvs')!.invalid && (editForm.get('noAvs')!.dirty || editForm.get('noAvs')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('noAvs')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovDemoApp.patient.dateNaissance" for="field_dateNaissance">Date Naissance</label>
                    <div class="input-group">
                        <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker #dateNaissanceDp="ngbDatepicker" formControlName="dateNaissance"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovDemoApp.patient.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovDemoApp.patient.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovDemoApp.patient.adresse" for="field_adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                           formControlName="adresse"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovDemoApp.patient.npaLocalite" for="field_npaLocalite">Npa Localite</label>
                    <input type="text" class="form-control" name="npaLocalite" id="field_npaLocalite"
                           formControlName="npaLocalite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovDemoApp.patient.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovDemoApp.patient.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovDemoApp.patient.numeroAssure" for="field_numeroAssure">Numero Assure</label>
                    <input type="text" class="form-control" name="numeroAssure" id="field_numeroAssure"
                           formControlName="numeroAssure"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovDemoApp.patient.caisseMaladie" for="field_caisseMaladie">Caisse Maladie</label>
                    <select class="form-control" id="field_caisseMaladie" name="caisseMaladie" formControlName="caisseMaladie">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="caisseMaladieOption.id === editForm.get('caisseMaladie')!.value?.id ? editForm.get('caisseMaladie')!.value : caisseMaladieOption" *ngFor="let caisseMaladieOption of caissemaladies; trackBy: trackById">{{ caisseMaladieOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovDemoApp.patient.medecinTraitant" for="field_medecinTraitant">Medecin Traitant</label>
                    <select class="form-control" id="field_medecinTraitant" name="medecinTraitant" formControlName="medecinTraitant">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="professionnelSanteOption.id === editForm.get('medecinTraitant')!.value?.id ? editForm.get('medecinTraitant')!.value : professionnelSanteOption" *ngFor="let professionnelSanteOption of professionnelsantes; trackBy: trackById">{{ professionnelSanteOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
